// you can change colors here
$theme-color: #096dd9;

.blog-hero h1 {
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  backdrop-filter: saturate(150%) contrast(50%) blur(8px);
  -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(8px);
  background-color: rgba(0, 0, 0, .3);
}
